.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: width 150ms ease-in;

    &.larger {
      width: 800px;
    }

    .user,
    .house {
      display: flex;
      flex-direction: column;

      h3 {
        color: var(--white);
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: opacity 300ms ease-in;

        &.visible {
          opacity: 1;
        }
      }

      .item {
        width: 250px;
        height: 250px;
        margin-top: 3rem;
        border-radius: 50%;
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;

        &.rock {
          background: var(--white);
          border: 1.75rem solid var(--rock-color);
          box-shadow: 0px 8px 0px var(--rock-shadow),
            0px 8px 0px var(--shadow) inset;
        }

        &.paper {
          background: var(--white);
          border: 1.75rem solid var(--paper-color);
          box-shadow: 0px 8px 0px var(--paper-shadow),
            0px 8px 0px var(--shadow) inset;
        }

        &.scissors {
          background: var(--white);
          border: 1.75rem solid var(--scissors-color);
          box-shadow: 0px 8px 0px var(--scissors-shadow),
            0px 8px 0px var(--shadow) inset;
        }

        img {
          transform: scale(1.5);
        }
      }
    }
  }

  .results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    h3 {
      color: var(--white);
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
    }

    .button {
      margin-top: 1rem;
      padding: 0.75rem 3rem;
      border-radius: 0.5rem;
      background: var(--white);
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .game {
    .container {
      width: 300px;
      margin-top: -200px;

      &.larger {
        width: 300px;
      }

      .user,
      .house {
        h3 {
          font-size: 0.9rem;
          order: 2;
        }

        .item {
          width: 125px;
          height: 125px;
          margin-top: 0;
          margin-bottom: 2.5rem;
          order: 1;

          &.rock,
          &.paper,
          &.scissors {
            border-width: 1rem;
          }

          img {
            transform: scale(0.7);
          }
        }
      }

      .results {
        top: 125%;
        transform: translateX(-50%);
      }
    }
  }
}
