.header {
  width: min(500px, 100%);
  margin: 0 auto;
  padding: 1rem 1.25rem;
  border: 3px solid var(--outline);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      color: var(--white);
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: -0.5rem;
      }
    }
  }

  .score {
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      color: var(--blue);
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h4 {
      margin-top: 0.2rem;
      color: var(--foreground);
      font-size: 2.75rem;
      font-weight: 700;
      line-height: 1;
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .header {
    width: min(100%, 350px);

    .logo {
      span {
        font-size: 1.75rem;

        &:not(:last-child) {
          margin-bottom: -0.35rem;
        }
      }
    }

    .score {
      padding: 0.75rem 1.5rem;

      h3 {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
      }

      h4 {
        font-size: 2rem;
      }
    }
  }
}
