.button {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  width: fit-content;
  padding: 0.5rem 2.5rem;
  border: 3px solid var(--outline);
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: border-color 150ms ease-in;

  &:hover {
    border-color: var(--white);
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 200ms ease-out;

  &.active {
    opacity: 0.75;
    visibility: visible;
  }
}

.rules {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background: var(--white);
  opacity: 0;
  transition: 200ms ease-out;

  &.active {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .top_section {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .close {
      display: flex;
      cursor: pointer;
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .button {
    left: 50%;
    transform: translateX(-50%);
  }

  .rules {
    padding: 1.5rem 2.5rem;

    .top_section {
      h3 {
        font-size: 1.5rem;
      }

      .close {
        transform: scale(0.8);
      }
    }

    img {
      max-width: 200px;
    }
  }
}
