.match__user-item,
.match__house-item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  z-index: 10;
  position: absolute;
  top: 100px;
  left: -20%;
  cursor: initial;
}

.match__user-item-inner,
.match__house-item-inner {
  background: var(--white);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 7px 0px var(--dark-white) inset;
}

.match__user-item svg,
.match__house-item svg {
  fill: var(--dark-text);
  transform: scale(1.5);
}

.match__house-item {
  right: -20%;
  left: unset;
}

.match__house-item-background {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: hsl(237, 49%, 15%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.match__user-item-title,
.match__house-item-title {
  position: absolute;
  top: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: fit-content;
  width: 250px;
  text-align: center;
}

.match__user-item-title {
  left: -20%;
}
.match__house-item-title {
  right: -20%;
}

@media screen and (max-width: 1024px) {
  .match__user-item,
  .match__house-item {
    width: 125px;
    height: 125px;
    top: 0;
  }

  .match__user-item svg,
  .match__house-item svg {
    transform: scale(0.7);
  }

  .match__house-item-background {
    width: 100px;
    height: 100px;
  }

  .match__user-item {
    left: 0;
  }

  .match__house-item {
    right: 0;
  }

  .match__user-item-title {
    left: -15px;
  }

  .match__house-item-title {
    right: -15px;
  }

  .match__user-item-title,
  .match__house-item-title {
    font-size: 0.9rem;
    width: 155px;
    bottom: 100px;
    top: unset;
  }
}
