.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.mode-button,
.rules-button {
  color: var(--white);
  border: 3px solid var(--header-outline);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  transition: 150ms;
}

.mode-button {
  margin-bottom: 1rem;
}

.mode-button:hover,
.rules-button:hover {
  border-color: var(--white);
}

.rules-content {
  background: var(--white);
  padding: 2rem 3rem;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.rules-content__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.rules-content__top-section-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-text);
  text-transform: uppercase;
}

.rules-content__top-section-close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rules-overlay {
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .buttons {
    flex-direction: row;
    right: 50%;
    transform: translateX(50%);
  }

  .mode-button {
    margin: 0 1rem 0 0;
  }

  .rules-content__top-section-title {
    font-size: 1.5rem;
  }

  .rules-content__top-section-close img {
    transform: scale(0.8);
  }

  .rules-content img {
    max-width: 200px;
  }
}
