:root {
	--background: ellipse at top, #1f3756, #141539;
	--foreground: #3b4363;
	--outline: #606e85;
	--shadow: #bcc0cd;

	--white: #e8e8e8;
	--black: #141539;
	--blue: #2a46c0;

	--rock-color: #dd405d;
	--rock-shadow: #9d1730;

	--paper-color: #5671f5;
	--paper-shadow: #2944c5;

	--scissors-color: #eca922;
	--scissors-shadow: #c36e1e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	color: var(--foreground);
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 16px;
}

body {
	width: 100vw;
	height: 100vh;
}

#root {
	height: 100%;
	padding: 2.5rem 1.5rem;
	background: radial-gradient(var(--background));
	display: flex;
	flex-direction: column;
}
